<%= form_for(@health_problem) do |f| %>
  <% if @health_problem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@health_problem.errors.count, "error") %> prohibited this health_problem from being saved:</h2>

      <ul>
      <% @health_problem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

   <div class="form-group">
    <p>Select Language</p>
    <select name="health_problem[locale]">
      <option value="en">English</option>
      <option value="zu">Zulu</option>
      <option value="xh">Xhosa</option>
    </select>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
