<h1>Listing Health Problems</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @health_problems.each do |health_problem| %>
      <tr>
        <td><%= health_problem.name %></td>
        <td><%= link_to 'Show', health_problem, class: "btn btn-link" %></td>
        <td><%= link_to 'Edit', edit_health_problem_path(health_problem), class: "btn btn-link" %></td>
        <td><%= link_to 'Destroy', health_problem, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Health problem', new_health_problem_path, class: "btn btn-link" %>
