<h1>DKT safe2choose Chat</h1>
<p>Refresh the page to see new messages. Create a message to respond. Your response will go to the last person who sent.</t>
<%= render 'form' %>

<table>
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th>Message</th>
      <th>Sent at</th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.from %></td>
        <td><%= sanitize_to_field message.to %></td>
        <td><%= message.message %></td>
        <td><%= message.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

