<h3><%= @client.phone_number %></h3>
<%= form_for(@client, html: { role: "form", class: "form-horizontal"}) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h4>Personal information</h4>
    <div class="form-group">
    <%= f.label :name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, type: "text", class: "form-control", placeholder: "Name" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :address, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :address, type: "text", class: "form-control", placeholder: "Address", rows: "2" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :country, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.country_select :country %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :language, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select(:language, client_languages, {include_blank: 'Select language'}) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :birthday, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.date_select :birthday, type: "text", class: "form-control", placeholder: "Birthday" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :num_children, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :num_children, type: "text", class: "form-control" %>
    </div>
  </div>

  <h4>Medical history</h4>
  <div class="form-group">
    <%= f.label :confirmed_pregnancy, class: "col-sm-2 control-label" %>
    <div class="col-sm-1">
      <%= f.check_box :confirmed_pregnancy, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :has_unwanted, class: "col-sm-2 control-label" %>
    <div class="col-sm-1">
      <%= f.check_box :has_unwanted, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :confirmation_method, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select(:confirmation_method, confirmation_methods, {include_blank: 'Select confirmation method'}) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :normal_period_start_day, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.date_select :normal_period_start_day, type: "text", class: "form-control", placeholder: "Period start date" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :termination_chosen, class: "col-sm-2 control-label" %>
    <div class="col-sm-1">
      <%= f.check_box :termination_chosen, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :informed_risks_pills, class: "col-sm-2 control-label" %>
    <div class="col-sm-1">
      <%= f.check_box :informed_risks_pills, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :informed_iud, class: "col-sm-2 control-label" %>
    <div class="col-sm-1">
      <%= f.check_box :informed_iud, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :other_illness, class: "col-sm-2 control-label" %>
    <div class="col-sm-1">
      <%= f.check_box :other_illness, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :other_std, class: "col-sm-2 control-label" %>
    <div class="col-sm-1">
      <%= f.check_box :other_std, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :previous_termination_attempt, class: "col-sm-2 control-label" %>
    <div class="col-sm-1">
      <%= f.check_box :previous_termination_attempt, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :previous_termination_attempt_bleeding, class: "col-sm-2 control-label" %>
    <div class="col-sm-1">
      <%= f.check_box :previous_termination_attempt_bleeding, class: "form-control" %>
    </div>
  </div>

  <h5>Health Problems</h5>
  <% HealthProblem.all.each do |h| %>
    <div class="form-group">
      <p class="col-sm-2 control-label"><strong><%= h %></strong></p>
      <div class="col-sm-10">
        <%= check_box_tag "client[health_problem_ids][]", h.id, @client.health_problem_ids.include?(h.id) %>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :notes, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :notes, type: "text", class: "form-control", placeholder: "Address", rows: "3" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-success" %>
  </div>
<% end %>