<p id="notice"><%= notice %></p>

<h1><%= "Client details - #{@client}" %></h1>

<br/>

<div class="row">
  <div class="col-sm-4">
    <h3>Client Information</h3>
    <ul class="list-group">
      <li class="list-group-item"><strong>Phone number: </strong><%= @client.phone_number %></li>
      <li class="list-group-item"><strong>Name: </strong><%= @client.name %></li>
      <li class="list-group-item"><strong>Address: </strong><%= @client.address %></li>
      <li class="list-group-item"><strong>Country: </strong><%= @client.country %></li>
      <li class="list-group-item"><strong>Language: </strong><%= @client.language %></li>
      <li class="list-group-item"><strong>Birthday: </strong><%= @client.birthday %></li>
      <li class="list-group-item"><strong>Num children: </strong><%= @client.num_children %></li>
    </ul>
  </div>

  <div class="col-sm-4">
    <h3>Medical history</h3>
    <ul class="list-group">
      <li class="list-group-item"><strong>Confirmed pregancy: </strong><%= @client.confirmed_pregnancy %></li>
      <li class="list-group-item"><strong>Confirmed method: </strong><%= @client.confirmation_method %></li>
      <li class="list-group-item"><strong>Period start date: </strong><%= @client.normal_period_start_day %></li>
      <li class="list-group-item"><strong>Unwanted pregancy: </strong><%= @client.has_unwanted %></li>
      <li class="list-group-item"><strong>Termination chosen: </strong><%= @client.termination_chosen %></li>
      <li class="list-group-item"><strong>Informed pill risks: </strong><%= @client.informed_risks_pills %></li>
      <li class="list-group-item"><strong>Informed IUD complications: </strong><%= @client.informed_iud %></li>
      <li class="list-group-item"><strong>Other illnesses: </strong><%= @client.other_illness %></li>
      <li class="list-group-item"><strong>Other STDs: </strong><%= @client.other_std %></li>
      <li class="list-group-item"><strong>Attempted abortion already: </strong><%= @client.previous_termination_attempt %></li>
      <li class="list-group-item"><strong>Bleeding from attempt: </strong><%= @client.previous_termination_attempt_bleeding %></li>

      <% @client.health_problems.each do |h| %>
        <li class="list-group-item"><strong>History of: </strong><%= h %></li>
      <% end %>
    </ul>
  </div>

  <div class="col-sm-4">
    <h3>Order history</h3>
    <ul class="list-group">
      <% @client.orders.each do |order| %>
        <%= content_tag 'a', href: orders_path(order_id: order.id) do %>
          <li class="list-group-item">
            <strong><%= order.updated_at %></strong> - <%= order %> - <%= order.state %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

<div class="row">
  <p><strong>Additional notes:</strong> <%= @client.notes %></p>
</div>

<%= link_to "Edit client details", edit_client_path(@client), class: "btn btn-lg btn-success" %>