<p id="notice"><%= notice %></p>

<h1>DKT safe2choose Chat</h1>
<h3>with <%= @chat.name %></h3>
<p class='text-muted'>Refresh the page to see new messages.</p>

<br/>

<%= render "messages/form" %><br/>

<hr>

<% @messages.each do |message| %>
  <div class="row">
    <%= content_tag "div", class: message_format_tag(message) do %>
      <strong><%= sanitize_to_field message.from %></strong>: <%= message.message %>
      <p class="text-muted"><%= message.sent_at %></p>
    <% end %>
  </div>
<% end %>

