<p id="notice"><%= notice %></p>

<p>
  <strong>Tag:</strong>
  <%= @push_notification.tag %>
</p>

<p>
  <strong>Message:</strong>
  <%= @push_notification.message %>
</p>

<%= link_to 'Edit', edit_push_notification_path(@push_notification) %> |
<%= link_to 'Back', push_notifications_path %>
