<h1>Listing Consultation QUestions</h1>

<table class="table table-responsive table-striped">
  <thead>
    <tr>
      <th>Preview</th>
      <th>Question</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @consultation_questions.each do |consultation_question| %>
      <tr>
        <td><%= consultation_question.preview %></td>
        <td><%= consultation_question.question %></td>
        <td><%= link_to 'Show', consultation_question, class: "btn btn-link"  %></td>
        <td><%= link_to 'Edit', edit_consultation_question_path(consultation_question), class: "btn btn-link"  %></td>
        <td><%= link_to 'Destroy', consultation_question, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Consultation question', new_consultation_question_path, class: "btn btn-success"  %>
